<div class="container">
    <div class="card">
        <div class="card-header text-white bg-info">
            Find your best trip
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <form>
                <div class="form-group">
                    <label>Trip :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Flights">
                </div>
                <button type="submit" class="btn btn-primary">find</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-primary" style="width: 20rem;margin-top: 1em ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_turquie.jpg " alt="turquie ">
                <div class="card-body ">
                    <p class="font-italic">Turky</p>
                    <p class="card-text ">turkey travel: turkey travel at discounted prices</p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 1079 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-secondary" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_omra.jpg" alt="Omra ">
                <div class="card-body ">
                    <p class="font-italic">Omra</p>
                    <p class="card-text ">Manasik Al Omra 2019 with Agency Travel will be happy
                    </p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 4696 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-success" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_espagne.jpg" alt="Espagne ">
                <div class="card-body ">
                    <p class="font-italic">Espagne</p>
                    <p class="card-text ">Barcelona: Sonar Music Festival 26 th Edition</p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2100 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-danger " style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_malaisie.jpg" alt="Malaisie ">
                <div class="card-body ">
                    <p class="font-italic">Malaisie</p>
                    <p class="card-text ">cheap stay in Malaysia discover a fantastic heritage</p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 4250 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-warning" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_france.jpg" alt="France ">
                <div class="card-body ">
                    <p class="font-italic">France</p>
                    <p class="card-text ">Paris Disney Land summer 2019</p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2150 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-info" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_pays%20bas.jpg" alt="Pays Bas ">
                <div class="card-body ">
                    <p class="font-italic">Pays Bas </p>
                    <p class="card-text ">Paris - Bruxelles - Amsterdam du 20/07/2019 au 26/07/2019 </p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2950 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_italie.jpg" alt="Italy ">
                <div class="card-body ">
                    <p class="font-italic">Italy </p>
                    <p class="card-text ">Tour of Italy August 2019</p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2850 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-primary " style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_portugal.jpg " alt="Portugal ">
                <div class="card-body ">
                    <p class="font-italic">Portugal </p>
                    <p class="card-text ">Lisbon Summer 2019</p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2445 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-secondary" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_autriche.jpg" alt="Autriche ">
                <div class="card-body ">
                    <p class="font-italic">Autriche </p>
                    <p class="card-text ">Vienne - Prague - Bratislava 8 JOURS / 7 NUITS DU 16/07/2019 AU 23/07/2019
                    </p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2750 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-danger" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_p_hotel_398.jpg" alt="Serbie ">
                <div class="card-body ">
                    <p class="font-italic">Serbie </p>
                    <p class="card-text ">Belgrade La Ville Blanche
                    </p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2300 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-success" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_grece.jpg" alt="Grece ">
                <div class="card-body ">
                    <p class="font-italic">Grece </p>
                    <p class="card-text ">Grece travel: Grece travel at discounted prices
                    </p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 3000 DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-warning" style="width: 20rem;margin-top: 1em;margin-left: 2mm ">
                <img class="card-img-top " src="https://image.resabooking.com/images/images_og/img_2_hotel_417.jpg" alt="Tcheque ">
                <div class="card-body ">
                    <p class="font-italic">Tcheque </p>
                    <p class="card-text ">Prague -Vienne - Bratislava 6 JOURS /5 NUITS
                    </p>
                    <div class="alert alert-warning alert-dismissible fade show ">
                        Prix : 2350 DT
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>