<div class="lef">
    <div class="card" style="width: 70rem;">
        <div class="card-body">
            <h5 class="card-title"><i class="fas fa-address-card"></i> Entrez vos coordonnées:</h5>
            <hr>
            <div class="form-inline m-2">
                <div class="form-group p-2">
                    <label for="exampleFormControlSelect1">Civilité</label>
                    <select class="form-control" id="exampleFormControlSelect1">
              <option>Mr</option>
              <option>Mme</option>
              <option>Mlle</option>
            </select>
                </div>
                <div class="form-group p-2">
                    <label for="exampleFormControlInput1">Prenom</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Prenom">
                </div>
                <div class="form-group p-2">
                    <label for="exampleFormControlInput1">Nom</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom">
                </div>
            </div>
            <div class="form-inline m-2 ">
                <div class="form-group p-2">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group p-2">
                    <label for="exampleFormControlInput1">Portable</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group p-2">
                    <label for="exampleFormControlSelect2">Gouvernorat</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                <option value="Ariana">Ariana</option>
                <option value="Beja">Beja</option>
                <option value="Ben Arous">Ben Arous</option>
                <option value="Bizerte">Bizerte</option>
                <option value="Gabes">Gabes</option>
                <option value="Gafsa">Gafsa</option>
                <option value="Jendouba">Jendouba</option>
                <option value="Kairouan">Kairouan</option>
                <option value="Kasserine">Kasserine</option>
                <option value="Kebili">Kebili</option>
                <option value="Kef">Kef</option>
                <option value="Mahdia">Mahdia</option>
                <option value="Mannouba">Mannouba</option>
                <option value="Medenine">Medenine</option>
                <option value="Monastir">Monastir</option>
                <option value="Nabeul">Nabeul</option>
                <option value="Sfax">Sfax</option>
                <option value="Sidi Bouzid">Sidi Bouzid</option>
                <option value="Siliana">Siliana</option>
                <option value="Sousse">Sousse</option>
                <option value="Tataouine">Tataouine</option>
                <option value="Tozeur">Tozeur</option>
                <option value="Tunis">Tunis</option>
                <option value="Zaghouan">Zaghouan</option>
            </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5" style="width: 70rem;">
        <div class="card-body">
            <h5 class="card-title"><i class="fas fa-compass"></i> Sélectionnez l'agence la plus proche de chez vous:</h5>
            <hr>

        </div>
    </div>
</div>