<div id="intro" class="view " style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height:600px;">
    <div class="mask rgba-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12 text-center">
                    <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp text-capitalize">have a great trip with us
                    </h1>
                    <h5 class="text-white pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp font-italic" data-wow-delay="0.2s">Travel and change of place impart new vigor to the mind!</h5>
                </div>

            </div>

        </div>

    </div>

</div>

<div id="learn">

    <!--Section: Best Features-->
    <section id="best-features" class="text-center">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">Our guarantees</h2>

        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-8">

                <!-- Description -->
                <p class="grey-text">Travel is the 1st online travel agency in Tunisia which offers permanent promotions on travel and leisure, to discover Tunisia from north to south, but also to escape to the four corners of the world!
                </p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 mb-5">
                <i class="fa fa-camera-retro fa-4x orange-text" style="color: blue"></i>
                <h4 class="my-4 font-weight-bold">Experience</h4>
                <p class="grey-text">Travel with + 10 years of experience on the market, you guarantee a very beautiful experience.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <i class="fa fa-heart fa-4x orange-text" style="color:red"></i>
                <h4 class="my-4 font-weight-bold">Happiness</h4>
                <p class="grey-text">Organize with us your trip or your stay and Live the happiness and the well being.</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <i class="fa fa-bicycle fa-4x orange-text" style="color: green"></i>
                <h4 class="my-4 font-weight-bold">Adventure</h4>
                <p class="grey-text">your adventure is guaranteed with the most attractive rates on the market.</p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Best Features-->

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Agency Travel</h6>
                    <p>Book Fast on Agency travel and Take advantage of Promo Hotels Family Special.</p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Payment mode accepts</h6>
                    <p>
                        <i class="fas fa-university mr-3"></i> Bank transfer
                    </p>
                    <p>
                        <i class="fas fa-american-sign-language-interpreting mr-3"></i> cash payment to the agency
                    </p>
                    <p>
                        <i class="fab fa-cc-mastercard mr-3"></i> secure payment with mastercard
                    </p>
                    <p>
                        <i class="fas fa-home mr-3"></i> payment at home
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p>
                        <i class="fa fa-home mr-3"></i> Sousse </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> info@gmail.com</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Footer links -->

            <hr>

            <!-- Grid row -->
            <div class="row d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">

                    <!--Copyright-->
                    <p class="text-center text-md-left">
                        <a href="main">back to the top</a>


                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0">
                    <strong> Get connected with us on social networks!</strong>
                    <!-- Social buttons -->
                    <div class="text-center text-md-right">
                        <!--Facebook-->
                        <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                        <!--Twitter-->
                        <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                        <!--Google +-->
                        <a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
                        <!--Linkedin-->
                        <a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
                        <!--Instagram-->
                        <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->
</div>