<!-- Section: Blog v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Hotels in Tunisia</h2>

  <section id="gallery">


    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner z-depth-1-half" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/HotelImg/badira1.jpg" alt="First slide">
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/HotelImg/badira2.jpg" alt="Second slide">
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/HotelImg/badira3.jpg" alt="Third slide">
            </div>
            <!--/Third slide-->
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6">

        <!--Excerpt-->
        <a href="" class="teal-text">
        </a>
        <h4><strong>Hammamet</strong></h4>
        <h5 class="mb-3"><strong>La Badira</strong></h5>
        <p>La Badira is a place that has been designed to live throughout the year,
          both indoors and outdoors, so that everyone feels good at every moment of the day.
          For this, intimate spaces have been created both in the hotel and its surroundings: library,
          fireplace, cocktail bar "La Badira", "fire-place" on the terrace, lush greenery scented with
          jasmine, bitter orange , aromatic plants ... Two shops, one dedicated to local crafts, the other
          to local products, will carry the spirit of an authentic and charming Tunisia, and whose signature
          of the Badira and / or its partners will be the guarantee of unparalleled quality.</p>


        <a class="btn btn-primary btn-md" href="https://www.labadira.com/">Read more</a>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Gallery-->
  <!--Sousse-->

  <section id="gallery">


    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner z-depth-1-half" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/HotelImg/tej1.jpg" alt="First slide">
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/HotelImg/tej2.jpg" alt="Second slide">
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/HotelImg/tej3.jpg" alt="Third slide">
            </div>
            <!--/Third slide-->
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6">

        <!--Excerpt-->
        <a href="" class="teal-text">
        </a>
        <h4><strong>Sousse</strong></h4>
        <h5 class="mb-3"><strong>Tej Marhaba</strong></h5>
        <p>In the heart of Sousse, this complex is less than 3 km from Sousse Beach,
          Ribat de Sousse and Olimpic Stadium. Port of El Kantaoui and Port of El Kantaoui
          Beach is also less than 10 kilometers away.In addition to 2 restaurants, this complex
          has an indoor pool and an outdoor pool. You can enjoy free wifi in common areas and free
          self parking. You will also find 4 saloon bars, a poolside bar and a cafeteria. </p>


        <a class="btn btn-primary btn-md" href="http://www.tejmarhaba.xyz/">Read more</a>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Gallery-->
  <!--djerba-->
  <section id="gallery">


    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner z-depth-1-half" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/HotelImg/grad1.jpg" alt="First slide">
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/HotelImg/grad2.jpg" alt="Second slide">
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/HotelImg/grad3.jpg" alt="Third slide">
            </div>
            <!--/Third slide-->
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6">

        <!--Excerpt-->
        <a href="" class="teal-text">
        </a>
        <h4><strong> Djerba</strong></h4>
        <h5 class="mb-3"><strong>Hôtel Royal Garden Palace</strong></h5>
        <p>Situated in Midoun, Djerba, 37 km from Zarzis, Hotel Royal Garden Palace features
          a private beach area and water sports facilities. It also features an outdoor pool and a spa.
          Guests can enjoy a meal in the restaurant, while free private parking is available. Site.
          Rooms have a flat-screen TV and some have a seating area where guests can relax after a
          busy day. Some have sea, pool or garden views. All have a private bathroom. Bathrobes,
          slippers and complimentary toiletries are available for guests' convenience.
          Hotel Royal Garden Palace features free Wi-Fi throughout the residence.
          The residence has a 24-hour front desk.
          Guests can play tennis at this hotel and the area is famous for its golf course.
          Car rental is available, and Zarzis Airport is 23 km away. </p>


        <a class="btn btn-primary btn-md" href="http://www.royalgarden.com.tn/">Read more</a>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Gallery-->